services:
  router:
    build:
      context: ./services/router
    container_name: gamestack-router
    depends_on:
      - controller
    ports:
      - "8088:80"
    volumes:
      - ./services/router/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./services/router/nginx/conf.d:/etc/nginx/conf.d:ro
    networks:
      - public
      - private

  controller:
    build:
      context: ./services/controller
    container_name: gamestack-controller
    restart: unless-stopped
    environment:
      HTTP_ADDR: :8080
      MC_RCON_HOST: minecraft
      MC_RCON_PORT: "25575"
      MC_RCON_PASSWORD: devpass
    expose:
      - "8080"
    networks:
      - private

  minecraft:
    build:
      context: ./services/games/minecraft
    container_name: gamestack-minecraft
    restart: unless-stopped
    ports:
      - "25565:25565"
    expose:
      - "25565"
      - "25575"
    environment:
      EULA: "true"

      # Choose: fabric | forge | vanilla | quilt
      LOADER: "vanilla"
      MC_VERSION: "1.21.11"
      JAVA_XMS: "1G"
      JAVA_XMX: "2G"
      ENABLE_RCON: "true"
      RCON_PORT: "25575"
      RCON_PASSWORD: "devpass"

    volumes:
      - ./local-data/minecraft:/data
    networks:
      - public
      - private

networks:
  public:
    name: gamestack-public
  private:
    name: gamestack-private
    internal: true
